/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    font-size: 62.5%; /* 1rem = 10px */
}

/* Variables */
:root{
/* Font Sizes & Family */
/* if we set html's font size 62.5% then 1rem = 10px */

--body-font: 'Poppins', 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;


--big-font: 4rem;
--h1-font: 3.6rem;
--h2-font: 2.4rem;
--h3-font: 2rem;
--h4-font: 1.8rem;
--normal-font: 1.6rem;
--small-font: 1.4rem;
--smaller-font: 1.3rem;

/* Font Weight ***/
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;

/* Color Variables */
--primary-color: #C87E4F;
--primary-color-hover: #C2703D;
--text-color: #333;
--text-color-light: #888682;
--border-color: #484848;
--white-color: #FFF;
--section-bg: #2C3034;

/* z-index */
--z-overlay: 10;
--z-fixed: 100;

/* transition */
--tran-0-2: 0.2s;
--tran-0-3: 0.3s;
--tran-0-5: 0.5s;
}

/*Font sizes For Small Screen 968px */
@media screen and (max-width: 990px) {
:root {
  --big-font: 3.5rem;
  --h1-font: 2.4rem;
  --h2-font: 2rem;
  --h3-font: 1.8rem;
  --h4-font: 1.6rem;
  --normal-font: 1.5rem;
  --small-font: 1.3rem;
  --smaller-font: 1.2rem;
}
}


/* Pre-CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
input{
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}
body{
  overflow-x: hidden;
  background-color: var(--white-color);
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

/* Reusuable CSS */
.section{
  padding: 7rem 2rem;
}
.container{
  /* max-width: 1030px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
.flex{
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

/* Header */
.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  z-index: var(--z-fixed);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* nav */
nav{
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo-text{
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.3rem;
  margin-left: 0.5rem;
}
.logo-icon,
.logo-text,
.nav-link,
.twitter-icon,
.insta-icon,
.contact-text{
  color: var(--text-color);
}
.logo-icon,
.toggle-btn-icon{
  font-size: 2rem;
}
.twitter-icon,
.insta-icon{
  margin-left: 0.5rem;
  font-size: 2.5rem;
}
.twitter-icon:hover,
.insta-icon:hover{
  scale: 1.1;
}
.menu-list{
  column-gap: 2rem;
}
.nav-link{
  position: relative;
  text-transform: capitalize;
  font-weight: var(--font-semi-bold);
}
.nav-link::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  opacity: 0;
}
.active-navlink::before{
  opacity: 1;
}
.contact-text{
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  margin-right: 1rem;
  cursor: pointer;
  transition: var(--tran-0-3);
}
.contact-text:hover{
  scale: 1.05;
  background-color: var(--primary-color-hover);
}
.contact-text:active{
  scale: 0.95;
}
.twitter-icon,
.insta-icon,
.toggle-btn-icon{
  cursor: pointer;
}
.twitter-icon:hover{
  color: #1DA1F2;
}
.toggle-btn-icon{
  display: none;
}

@media screen and (max-width: 768px) {
  .contact-text{
    display: none;
  }
  .nav .menu-content{
    position: fixed;
    /* top: 0; */
    top: 7rem;
    right: -100%;
    max-width: 300px;
    height: 100%;
    z-index: var(--z-fixed);
    width: 100%;
    /* padding-top: 10rem; */
    padding-top: 5rem;
    padding-bottom: 10rem;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .menu-list{
    flex-direction: column;
    row-gap: 4.5rem;
    font-size: var(--h4-font);
  }
  .toggle-btn-icon{
    display: block;
    font-size: 3rem;
    margin-left: 1rem;
    color: var(--text-color);
    cursor: pointer;
  }
  .toggle-btn-icon:hover{
    scale: 1.05;
  }
  .media-icons{
    font-size: 2rem;
    column-gap: 2rem;
  }
  .media-icons a{
    color: var(--text-color-light);
  }
}

@media screen and (max-width: 450px) {
  .twitter-icon,
  .insta-icon{
    display: none;
  }
}

/* nav responsive */


/* Home */


/* swiper button */


/* About */


/* Menu */


/* Brand */


/* Review */


/* swiper btn */


/* Newsletter */


/* Footer */
footer{
  background-color: var(--section-bg);
}

/* Scroll Up */


/* Responsive media */
