/* ===================================

FOOTER NAVIGATION

=====================================*/
/* container */
.container{
  padding: 0 15%;
}
/* #footer */
#footer{
  margin-top: 100px;
  padding: 56px 0 80px;
  background-color: #000;
  color: var(--white-color);
}
.container-contents{
  margin: auto;
  max-width: 1280px;
}
.f-section+.f-section{
  border-top: 1px solid var(--white-color);
  margin-top: 40px;
  padding-top: 40px;
}
.f-pc .f-row:first-child{
  min-width: 190px;
}
.f-column{
  display: flex;
  justify-content: space-between;
}
.f-logo{
  width: 178px;
  margin-bottom: 24px;
}
.f-logo-link img{
  margin-top: 5px;
}
.f-sns-list{
  display: flex;
}
.f-sns-list-item{
  display: flex;
}
.f-sns-list-item+.f-sns-list-item{
  margin-left: 20px;
}
.ui-sns-link{
  width: 30px;
}
.ui-sns-link .sns-icon{
  font-size: 30px;
}
.copy-icon{
  font-size: 10px;
}
.f-nav-list-item{
  display: flex;
  flex-direction: column;
}
.f-nav-list-item-text span{
  font-size: small-font;
}
/* f-sp */
.f-sp-logo-copy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* レスポンシブ対応 */
@media screen and (max-width: 750px) {
  .footer{
    padding: 40px 0 136px;
  }
  .f-pc{
    display: none;
  }
  .container{
    padding: 0 8%;
  }
  .f-logo{
    width: 153px;
    margin-bottom: 16px;
  }
  .f-copy-text{
    display: block;
    font-size: var(--small-font);
    line-height: 1;
    font-weight: var(--font-regular);
  }
  .f-section+.f-section{
    margin-top: 32px;
  }
  .f-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .f-row+.f-row{
    margin-top: 20px;
  }
}
@media screen and (min-width: 751px) {
  .f-sp{
    display: none;
  }
  /* .f-column+.f-column{
    margin-left: 2rem;
  } */
  .f-links-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -24px;
    min-height: 54px;
  }
  .f-links-list-item{
    margin-left: 30px;
    margin-top: 24px;
  }
  .ui-links-link{
    display: flex;
    /* line-height: 1;
    font-size: 14px; */
    font-weight: var(--font-medium);
  }
}