@charset "utf-8";
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:wght@300;400;500;600&display=swap');

/* Variables */
:root{
  /* Font Sizes & Family */
  /* if we set html's font size 62.5% then 1rem = 10px */
  
  --body-font: 'Poppins', 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  
--big-font: 4rem;
--h1-font: 3.6rem;
--h2-font: 2.4rem;
--h3-font: 2rem;
--h4-font: 1.8rem;
--normal-font: 1.6rem;
--small-font: 1.4rem;
--smaller-font: 1.3rem;

/* Font Weight ***/
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;

/* Color Variables */
--primary-color: #C87E4F;
--primary-color-hover: #C2703D;
--orange:#FF6600;
--green:#075a07;
--green-hover: #5ed55e;
--text-color: #333;
--text-color-light: #888682;
--border-color: #484848;
--white-color: #FFF;
--section-bg: #2C3034;

/* z-index */
--z-overlay: 10;
--z-fixed: 100;

/* transition */
--tran-0-2: 0.2s;
--tran-0-3: 0.3s;
--tran-0-5: 0.5s;
}

/*Font sizes For Small Screen 968px */
@media screen and (max-width: 990px) {
:root {
--big-font: 3.5rem;
--h1-font: 2.4rem;
--h2-font: 2rem;
--h3-font: 1.8rem;
--h4-font: 1.6rem;
--normal-font: 1.5rem;
--small-font: 1.3rem;
--smaller-font: 1.2rem;
}
}
/* ===================================

MAIN CONTENTS

=====================================*/
.w-inner{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
@media screen and (max-width: 1240px) {
  .w-inner{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .display-none-lg{
    display: none;
  }
}
/* ===================================

MAINVISUAL

=====================================*/
/* .mainvisual{
  filter: grayscale(0.7);
  min-height: 100vh;
  position: relative;
  background-image: url(/common/img/mv-1.jpg);
  background-size: cover;
  background-position: center center;
}
.mainvisual-inner{
  position: relative;
  text-align: center;
} */

/* ===================================

MV

=====================================*/
.mv{
  /* margin-top: 7rem; */
  padding-bottom: 80px;
  /* padding-top: 50px; */
  padding-top: 10rem;
  position: relative;
}
.mv-inner{
  display: flex;
  align-items: center;
}@media screen and (max-width: 1023px){
  .mv-inner{
    display: block;
  }
}

/* mv-txt */
.mv-txt-area{
  flex: 1 1 540px;
  margin-right: 45px;
  padding-left: 2rem;
}@media screen and (max-width: 1023px) {
  .mv-txt-area{
    padding: 0;
    margin-bottom: 30px;
    margin-right: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.mv-txt-area::before{
  background: #edfafd;
  border-radius: 0 90px 90px 0;
  content: "";
  display: block;
  height: 180px;
  position: absolute;
  left: 0;
  top: 40px;
  width: calc(50vw - 520px);
  z-index: -1;
}
.mv-txt-area::after{
  background: #fff4f4;
  border-radius: 0 90px 90px 0;
  content: "";
  display: block;
  height: 180px;
  position: absolute;
  left: 0;
  top: 500px;
  width: calc(60vw - 520px);
  z-index: -1;
}@media screen and (max-width: 1240px) {
  .mv-txt-area::before{
    width: 120px;
  }
  .mv-txt-area::after{
    width: 200px;
  }
}
.mv-siteName{
  color: var(--orange);
  font-size: var(--h3-font);
  font-weight: var(--font-semi-bold);
}@media screen and (max-width: 600px) {
  .mv-siteName{
    font-size: var(--small-font);
    padding-bottom: 1rem;
  }
}
.mv-catch{
  font-size: 4rem;
  font-weight: var(--font-semi-bold);
  line-height: 1.4;
  margin-bottom: 2rem;
}@media screen and (max-width: 900px) {
  .mv-catch{
    font-size: 4rem;
  }
}@media screen and (max-width: 767px) {
  .mv-catch{
    font-size: 3.7rem;
  }
}@media screen and (max-width: 600px) {
  .mv-catch{
    font-size: 3.3rem;
    margin-bottom: 2rem;
  }
}@media screen and (max-width: 500px) {
  .mv-catch{
    font-size: 3rem;
  }
}@media screen and (max-width: 400px) {
  .mv-catch{
    font-size: 2.6rem;
  }
}
.mv-outline{
  font-size: var(--h4-font);
}@media screen and (max-width: 1023px){
  .mv-outline{
    text-align: left;
  }
}
.mv-message-sp{
  display: none;
  margin-bottom: 1rem;
  font-size: var(--h4-font);
}@media screen and (max-width: 1023px){
  .mv-message-sp{
    display: block;
  }
}
.mv-message{
  font-size: var(--h4-font);
}
.mv-message span{
  font-weight: var(--font-semi-bold);
}
.cvBtn{
  background: #21ad15;
  border-radius: 45px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.16);
  color: var(--white-color);
  display: inline-block;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  transform: all 0.15s ease;
  margin-top: 20px;
  transition: all var(--tran-0-3);
}.cvBtn:hover{
  background: var(--green);
}
.cvBtn-sub-text{
  font-size: var(--small-font);
}
.cvBtn-main-text{
  font-size: 26px;
  font-weight: 700;
}@media screen and (max-width: 500px){
  .cvBtn-main-text{
    font-size: 2rem;
  }
}
/* mv-img */
.mv-img-area{
  flex: 1 1 550px;
  overflow: hidden;
  border-radius: 0.5rem;
}@media screen and (max-width: 1023px) {
  .mv-img-area{
    text-align: center;
  }
}
.mv-img-area::before{
  background: #f5fded;
  border-radius: 90px 0 0 90px;
  content: "";
  display: block;
  height: 180px;
  position: absolute;
  right: 0;
  top: 300px;
  width: calc(45vw - 520px);
  z-index: -1;
}





/* featureエリア */
.feature{
  padding-top: 9rem;
  padding-bottom: 75px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .feature{
    padding-bottom: 60px;
  }
}
.feature::before{
  background: #edfafd;
  border-radius: 0 60px 60px 0;
  content: "";
  display: block;
  height: calc(100% - 30px);
  left: calc(-50vw + 600px);
  position: absolute;
  top: 30px;
  width: calc(100% + 50vw - 600px);
  z-index: -1;
}@media screen and (max-width: 1240px) {
  .feature::before{
    left: 0;
    width: calc(100% - 20px);
  }
}
.feature-ttl{
  align-items: flex-end;
  display: flex;
  margin-bottom: 8rem;
}@media screen and (max-width: 1023px) {
  .feature-ttl{
    display: block;
  }
}
.feature-ttl-main{
  color: var(--orange);
  font-size: 3.8rem;
  font-weight: var(--font-medium);
  line-height: 1;
}@media screen and (max-width: 767px) {
  .feature-ttl-main{
    font-size: var(--h1-font);
  }
}
.feature-ttl-main span{
  font-size: 5rem;
  font-weight: var(--font-semi-bold);
}@media screen and (max-width: 767px) {
  .feature-ttl-main span{
    font-size: 4rem;
  }
}

.feature-block{
  padding-right: 40px;
}@media screen and (max-width: 767px) {
  .feature-block{
    padding-right: 3%;
  }
}
.feature-block-item{
  margin-bottom: 70px;
}
.featureItem{
  display: flex;
}@media screen and (max-width: 1023px) {
  .featureItem{
    flex-direction: column-reverse;
  }
}
.featureItem-reverse{
  flex-direction: row-reverse;
}@media screen and (max-width: 1023px) {
  .featureItem-reverse{
    flex-direction: column-reverse;
  }
}
.featureItem-imgArea{
  flex: 0 1 514px;
  margin-right: 46px;
}@media screen and (max-width: 1023px) {
  .featureItem-imgArea{
    flex: 0 1 auto;
    margin-right: 0;
  }
}
.featureItem-reverse .featureItem-imgArea{
  margin-left: 46px;
  margin-right: 0;
}@media screen and (max-width: 1023px) {
  .featureItem-reverse .featureItem-imgArea{
    margin-left: 0;
  }
}
.featureItem-imgOuter{
  background: linear-gradient(to right top,red, rgb(241, 185, 90));;
  border-radius: 10px;
  padding: 7px;
  width: 514px;
}@media screen and (max-width: 1023px) {
  .featureItem-imgOuter{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
.featureItem-imgOuter img{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
  width: 100%;
}
.featureItem-textArea{
  flex: 1 1 560px;
}@media screen and (max-width: 1023px) {
  .featureItem-textArea{
    flex: 0 1 auto;
    margin-bottom: 20px;
  }
}
.featureItem-ttlWrapper{
  align-items: center;
  border-bottom: 1px dotted var(--orange);
  color: var(--orange);
  display: flex;
  margin-bottom: 35px;
  padding-bottom: 10px;
}
.featureItem-numberWrapper{
  margin-right: 12px;
  min-width: 90px;
  text-align: center;
  font-family: 'League Gothic';
  font-weight: var(--font-medium);
  font-size: 10rem;
  display: inline-block;
}@media screen and (max-width: 1023px) {
  .featureItem-numberWrapper{
    min-width: 50px;
    width: 50px;
    font-size: 8rem;
  }
}@media screen and (max-width: 600px) {
  .featureItem-numberWrapper{
    font-size: 7rem;
  }
}@media screen and (max-width: 400px) {
  .featureItem-numberWrapper{
    font-size: 6rem;
  }
}
.featureItem-ttl{
  font-size: var(--h1-font);
  font-weight: var(--font-semi-bold);
  line-height: 1.4;
}@media screen and (max-width: 1023px) {
  .featureItem-ttl{
    font-size: 3rem;
  }
}@media screen and (max-width: 600px) {
  .featureItem-ttl{
    font-size: var(--h1-font);
  }
}@media screen and (max-width: 400px) {
  .featureItem-ttl{
    font-size: var(--h2-font);
  }
}
.feature-content{
  font-size: var(--h4-font);
  line-height: 1.8;
}


/* ================================

cvsection

==================================*/
.cvSection{
  text-align: center;
}
.run-icon{
  font-size: 3rem;
  padding-left: 1rem;
}
.cvSection .cvBtn-main-text{
  display: flex;
  align-items: center;
}


/* ================================

よくある質問section

==================================*/
.faq{
  padding-top: 9rem;
}
.faq-heading{
  color: var(--orange);
  font-size: 3rem;
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
  text-align: center;
}@media screen and (max-width: 767px) {
  .faq-heading{
    font-size: var(--h1-font);
    margin-bottom: 1.5rem;
  }
}
.faq-container{
  border-radius: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
  margin: 0 auto;
  max-width: 900px;
  padding: 50px;
  width: 100%;
}@media screen and (max-width: 767px) {
  .faq-container{
    padding: 20px;
  }
}
.faq-category{
  font-size: var(--h2-font);
  font-weight: var(--font-semi-bold);
  margin-bottom: 3rem;
  margin-top: 40px;
}
.faq-category:first-child{
  margin-top: 0;
}
.faqList-item{
  border-bottom: 1px dotted #ccc;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
.faqList-question{
  color: var(--orange);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.faqList-questionIcon{
  margin-right: 7px;
  min-width: 32px;
  width: 32px;
}
.faqList-questionText{
  flex: 1 1 auto;
  font-size: var(--h3-font);
  font-weight: var(--font-medium);
}
.faqList-answer{
  color: var(--text-color);
  font-size: var(--normal-font);
}